
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
.galeria-work {
    justify-content: space-around;
  flex-wrap: wrap; 
  height: auto;
  align-items: center;
  display: flex;
 /* height: 100vh;
  border-radius: 8px; */
  /* width: 90%; */
  /* justify-content: center; */
  font-family: sans-serif;
  margin: 0;
  /* background: #6D6027;
  background: -webkit-linear-gradient(left, #D3CBB8, #6D6027);
  background: -o-linear-gradient(left, #D3CBB8, #6D6027);
  background: linear-gradient(to right, #D3CBB8, #6D6027); */
  /* background: rgb(39, 89, 109);
  background: -webkit-linear-gradient(left, rgb(184, 210, 211), rgb(39, 98, 109));
  background: -o-linear-gradient(left, rgb(184, 209, 211), rgb(39, 104, 109));
  background: linear-gradient(to right, rgb(184, 208, 211), rgb(39, 103, 109)); */
  background: rgb(39, 89, 109);
  background: -webkit-linear-gradient(left, rgb(183, 198, 199), rgb(78, 124, 133));
  background: -o-linear-gradient(left, rgb(192, 213, 214), rgb(38, 114, 119));
  background: linear-gradient(to right, rgb(193, 206, 207), rgb(24, 105, 112));
}

.galeria-work .card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 295px;
  width: 260px;
  max-height: 600px;
  margin: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  /* text-align: center; */
  transition: height 1000ms;
  font-family: "Homer Simpson UI";
}
.galeria-work .card img{
    width: 100%;
    height: 50%;
    border-radius: 2%;
    /* padding: solid 2px ; */
}
.galeria-work .card h3{
    font-size: 25px;
}

.card.expanded {
    font-family: "Homer Simpson UI";
    height: auto;
}
.card.expanded img{
    height: 210px;
}
.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.card.expanded .label {
  transform: translateY(0);
}
.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
}
.card.expanded .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}
.text2 {
  clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  transition: clip-path 1000ms;
}
.card.expanded .text2 {
  clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
}
.text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}
.card.expanded .text-content {
  transform: translateY(-15px);
}
/* .chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
} */
.card.expanded .chevron {
  transform: rotate(0deg);
}
.title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0 12px;
}
.galeria-work .text {
  padding: 0 20px;
}
@media (max-width: 767px) {
    .galeria-work {
        margin: auto;
        width: 100%;
        justify-content: center;
        display: block;
        display: flex;
        border-radius: 2px;
        /* border: solid 2px; */
        background: rgb(255,255,255);

    }
    
    .galeria-work .card {
        color: rgb(1, 15, 34);
        width: 82%;
        background: rgb(250, 250, 250);
        background: -webkit-linear-gradient(left, rgb(184, 210, 211), rgb(39, 98, 109));
        background: -o-linear-gradient(left, rgb(184, 209, 211), rgb(39, 104, 109));
        background: linear-gradient(to right, rgb(184, 208, 211), rgb(39, 103, 109));
        /* border: solid 2px; */
    }
    .galeria-work .card h3{
        font-family: "Homer Simpson UI";
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 26px;
    }
    .galeria-work .card img{
        width: 100%;
        height: 42%;
    }
  }
 